@model Projeto_pimWEB.Models.Classes.Desconto

@{
    ViewData["Title"] = "CreateDesconto";
}

<h1>Inserir desconto do funcionário(a):</h1>
<h2>@Model.Funcionario.Nome</h2>

<hr />
<div class="row d-flex justify-content-center m-auto mt-5">
    <div class="col-md-4 p-4 border border-dark rounded-3">
        <h3 class="mb-3">Inserir desconto</h3>

        <form asp-route-id="@Model.Funcionario.id_cod_func" asp-action="CreateDescontos" method="post">
            <input asp-for="Funcionarioid_cod_func" type="hidden" value="@Model.Funcionario.id_cod_func" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-around">
                <div class="form-group">
                    <button style="width: 7rem;" class="btn btn-secondary mt-3" onclick="window.history.back()">Voltar</button>
                </div>
                <div class="form-group">
                    <input style="width: 7rem;" type="submit" value="Confirmar" class="btn btn-dark mt-3" />
                </div>

            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
