@model Projeto_pimWEB.Models.Classes.Desconto

@{
    ViewData["Title"] = "CreateDesconto";
}

<h1>Desconto do(a) funcionario: @Model.Funcionario.Nome</h1>

<h4>Desconto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-route-id="@Model.Funcionario.id_cod_func" asp-action="CreateDescontos" method="post">
            <input asp-for="Funcionarioid_cod_func" type="hidden" value="@Model.Funcionario.id_cod_func" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Motivo" class="control-label"></label>
                <input asp-for="Motivo" class="form-control" />
                <span asp-validation-for="Motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <button onclick="window.history.back()">Back to List</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
