@model Projeto_pimWEB.Models.Classes.Funcionario


<a class="navbar-brand logo" asp-area="" asp-controller="Home" asp-action="Index">L&A CONSULTORIA </a>
<button class="navbar-toggler btn-lg" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
		aria-expanded="false" aria-label="Toggle navigation">
	<i class="bi bi-list text-light"></i>
</button>
<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
	<ul class="navbar-nav flex-grow-1">
		<!--Dropdown para funcionalidades do Funcionarios-->
		<div class="dropdown">
			<button class="nav-item dropdown-toggle nav-link nav-bar border-0 @if(ViewContext.RouteData.Values["Action"].ToString() == "Registro"
			|| ViewContext.RouteData.Values["Action"].ToString() == "Create"
			|| ViewContext.RouteData.Values["Action"].ToString() == "Registro_Depen"
			) {WriteLiteral("active-page");}" type="button" data-bs-toggle="dropdown" aria-expanded="false">
				Funcionário
			</button>
			<ul class="dropdown-menu dropdown-menu-dark border-0" style="background-color: #2c3639;">
				<li>
					<a class="nav-link nav-bar @{
					    if (ViewContext.RouteData.Values["Action"].ToString() == "Registro") {
					    WriteLiteral("active-page");
					  }
					}"
					   asp-area="" asp-controller="Funcionario" asp-action="Registro">
						Listar Funcionarios
					</a>
				</li>
				<li>
					<a class="nav-link nav-bar @{
						 if (ViewContext.RouteData.Values["Action"].ToString() == "Create") {
						  WriteLiteral("active-page");
					     }
					}"
					   asp-area="" asp-controller="Funcionario" asp-action="Create">
						Adicionar Funcionario
					</a>
				</li>
			</ul>
		</div>
		<li class="nav-item">
			<a class="nav-link nav-bar @{
						if (ViewContext.RouteData.Values["Action"].ToString() == "Registro_Folhas") {
						  WriteLiteral("active-page");
					    } 
			} "
			   asp-area="" asp-controller="FolhaPagamento" asp-action="Registro_Folhas">
				Consultar Folhas
			</a>
		</li>
		<li class="d-sm-block d-md-none nav-link"><a class="dropdown-item text-danger" asp-area="" asp-controller="Login" asp-action="Sair"> Sair </a></li>

	</ul>
	<div class="dropstart d-none d-sm-block">
		<button class="btn btn-lg btn-outline-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			@Model.Nome <i class="bi bi-person-circle"></i>
		</button>
		<ul class="dropdown-menu">
			<li><a class="dropdown-item" asp-controller="Funcionario" asp-action="Editar" asp-route-id="@Model.id_cod_func"> Editar Perfil </a></li>
			<li><a class="dropdown-item text-danger" asp-area="" asp-controller="Login" asp-action="Sair"> Sair </a></li>
		</ul>
	</div>
</div>
