
@{
    ViewData["Title"] = "Participantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Equipe de desenvolvedores: </h1>

<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Beatriz Carla dos Santos - RA: T092809</li>
        <li class="list-group-item">Bruno da Silva Souza - RA: N945796</li>
        <li class="list-group-item">Everton dos Santos Coelho - RA: G4208J0</li>
        <li class="list-group-item">Gabriel dos Santos Silva - RA: G079JE0</li>
        <li class="list-group-item">Leandro Luis Rosa - RA: N7790F2</li>
        <li class="list-group-item">Othavio Augusto Chiaramonte teixeira - RA: N9066J0</li>
    </ul>
</div>

