@model Projeto_pimWEB.Models.Classes.Dependente

@{
    ViewData["Title"] = "Adicionar Dependentes";
}
<h1>Funcionario Responsavel</h1>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@Model.funcionario.id_cod_func</th>
            <th>@Model.funcionario.Nome</th>
        </tr>
    </tbody>
</table>

<h1>Adicionar dependente</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Funcionario" asp-action="Create_depen" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DtNascimento" class="control-label"></label>
                <input asp-for="DtNascimento" class="form-control" />
                <span asp-validation-for="DtNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Parentesco" class="control-label"></label>
                <input asp-for="Parentesco" class="form-control" />
                <span asp-validation-for="Parentesco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Funcionario" asp-route-id="@Model.funcionario.id_cod_func" asp-action="Registro_depen">Voltar</a>
</div>